* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
	outline: none;
	border: none;
}

body, html {
	position: 'relative';
	min-height: '100%';
	width: '100vw';
	height: '100%';
	min-width: '360px';
	overflow-y: 'auto';
	color: '#141414';
	text-align: 'center';
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.5;
}

div {
	display: block;
}

/* h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.2;
	font-weight: normal;
} */

figure {
	margin: 0;
	display: block;
}

figcaption {
	display: block;
	font-size: 14px;
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1em 0;
	width: 100%;
}

table thead th {
	background-color: rgba(77,128,153,0.05);
	border-top-width: 1px;
	color: #94979c;
	padding: 1.2em 1em;
}

table th, table td {
	border-bottom: 1px solid #e6e9ea;
	padding: .3em 1em;
	text-align: left;
}

section, div, article {
	display: block;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

a {
	color: #666;
	text-decoration: none;
}

/* ################################################################################## */
/* ################################################################################## */
/* ################################################################################## */
/* 포트폴리오 스타일 */
/* ################################################################################## */
/* ################################################################################## */
/* ################################################################################## */

.port-wrap {
	font-size: 12px;
}

.l-section {
	padding: 100px 5vw;
	background: white;
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;
}

.l-section.l-split {
	display: table;
	width: 100%;
	padding: 0;
	border-spacing: 0;
	table-layout: fixed;
}

.l-section.l-split>.l-section {
	display:table-cell;
}

.l-section .copyright {
	position: absolute;
	top: 3vh;
	width: 100%;
	left: 0;
	text-align: center;
	white-space: nowrap;
}

.logo-container {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.logo-container #logo-h1 {
	margin: 0 auto;
	width: 420px;
	/* height: 300px; */
}

.logo-svg {
	width: 100%;
	height: auto;
}

.logo-container #catchphrase {
	height: 30px;
	margin: -50px 0 0;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}

.continue {
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: calc(50% - 44px);
	font-family: 14px;
}

#about {
	background-color: #1895c5;
	text-align: right;
	width: 50%;
	min-height: 100vh;
}

#ability {
	background-color: #1ca8dd;
	min-height: 100vh;
	width: 50%;
	text-align: left;
}

.continue::after {
	background-color: #282a2f;
	display: block;
	width: 1px;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transition: height .4s;
	content: "";
}

.continue:hover::after {
	height: 30px;
}

.continue #continuebtn {
	color: inherit;
	display: block;
	width: 88px;
	height: 88px;
	position: relative;
	letter-spacing: .25em;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
}

.section-content {
	margin-top: 5em;
}

.gallery {
	counter-reset: article;
}

.gallery-item {
	margin: 0 0 5rem;
	list-style: none;
	counter-increment: article;
}

.gallery-figure {
	position: relative;
	display: flex;
	flex-flow: row wrap
}

.gallery-image {
	max-width: 800px;
}

.gallery-image-thumb {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.gallery-caption {
	margin-left: 2rem;
	flex: 1;
}

.gallery-title {
	position: relative;
	margin-bottom: 1.5em;
}

.gallery-title::before {
    color: #30b7e8;
    display: inline-block;
    width: 130px;
    position: relative;
    left: -0.05em;
    vertical-align: -0.1em;
    line-height: 1;
    font-size: 64px;
    font-weight: 400;
    content: counter(article,decimal-leading-zero);
}

.gallery-spec {
	margin: 2em 0;
	padding: 0;
}

.gallery-spec-item {
	display: block;
	line-height: 2.4;
	text-align: -webkit-match-parent;
}

.gallery-spec-key {
	min-width: 130px;
	padding-right: .5em;
}

.gallery-spec-key, .gallery-spec-value {
	display: inline-block;
	vertical-align: middle;
}

.gallery-table {
	flex: 100%;
	width: 100%;
}

.gallery-table-col.col1 {
	width: 6em;
}

.gallery-table-col.col2 {
	width: 25%;
}

.ui-group {
	margin: 1rem 0;
	padding: 0;
	text-align: center;
}

.ui-button {
	background: #30b7e8;
	border-radius: 44px;
	color: white;
	display: inline-block;
	min-width: 7em;
	height: 44px;
	margin: 0;
	overflow: hidden;
	padding: 12px 16px 14px;
	vertical-align: middle;
	letter-spacing: -.03em;
	line-height: 18px;
	font-family: "Quicksand",sans-serif;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	box-sizing: border-box;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}


.pre-loader {
	margin: 200px auto;
	width: 66px;
	height: 50px;
}

.pre-loader div {
	background-color: #34495e;
	height: 100%;
	width: 10px;
	display: inline-block;

	-webkit-animation: heightChange 1s infinite ease-in-out;
	animation: heightChange 1s infinite ease-in-out;

}

@keyframes loadMove {
	0%   {top: 0px;}
	25%  {top: 200px;}
	50%  {top: 100px;}
	75%  {top: 200px;}
	100% {top: 0px;}
}

@-webkit-keyframes loadHeightChange {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
 }

 @keyframes loadHeightChange {
	0%, 40%, 100% { transform: scaleY(0.4); }
	20% { transform: scaleY(1.0); }
 }

 .pre-loader .lb2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
 }

 .pre-loader .lb3 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
 }

 .pre-loader .lb4 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
 }

 .pre-loader .lb5 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
 }

.edit-main-menu:target .middle {
	opacity: 1;
}

.middle {
	width: calc(85% - 80px);
	position: absolute;
	padding: 40px;
	left:15%;
	overflow-y: scroll;
}

.edit-menu {
	width: 100%;
	min-width: 500px;
	overflow: scroll;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px;
	border-radius: 8px;
}

.edit-list {
	border-top: 1px solid #333;
	overflow: hidden;
}

.list-btn {
	display: block;
	padding: 16px 20px;
	background: #333;
	color: white;
	position: relative;
	z-index: 2;
}

.list-btn::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	background: #333;
	left: 20px;
	bottom: -7px;
	transform: rotate(45deg);
}

.list-btn i {
	margin-right: 10px;
}

.list-under-menu{
	width: 100%;
	background: #19B3D3;
	overflow: hidden;
	transition: max-height 0.3s;
	margin: 0;
	padding: 0;
	/* max-height: 0; */
}

.list-sub-menu {
	width: 100%;
	background: #19B3D3;
	overflow: hidden;
	transition: max-height 0.3s;
	max-height: 0;
}

.listTitle{
	width: 90%;
	text-align: left;
	display: block;
	background: inherit;
	outline: none;
	border: none;
	padding: 16px 26px;
	text-decoration: none;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	margin: 4px 0;
	position: relative;
}

.deleteButton{
	width: 10%;
	display: block;
	background: inherit;
	border: none;
	outline: none;
	padding: 16px 26px;
	text-decoration: none;
	box-sizing: border-box;
	color: white;
	font-size: 14px;
	margin: 4px 0;
	position: relative;
	transition: 0.5s;
}

.deleteButton:hover {
	color: red;
}

.list-sub-menu a {
	display: block;
	padding: 16px 26px;
	color: white;
	font-size: 14px;
	margin: 4px 0;
	position: relative;
}

.list-sub-menu a:before{
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background: #19B3D3;
	left: 0;
	top: 0;
	transition: 0.3s;
	opacity: 0;
}

.list-header button:before{
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background: #19B3D3;
	left: 0;
	top: 0;
	transition: 0.3s;
	opacity: 0;
}

.list-sub-menu a:hover:before{
	opacity: 1;
}

.edit-list:target .list-sub-menu{
	max-height: 100em;
}

.list-under-menu {
	width: 100%;
	background: #19B3D3;
	overflow: hidden;
	transition: max-height 0.3s;
	/* max-height: 0; */
}

.edit-under-menu {
	overflow: hidden;
}

.list-wa-menu {
	width: 100%;
	overflow: hidden;
	transition: max-height 0.3s;
	max-height: 0;
}

.list-header {
	background: rgb(40, 40, 40);
	margin: 0;
	display: flex;
}

.list-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background: rgb(30, 30, 30);
}

.list-attribute {
	width: 100%;
	margin: 5px 20px;
	height: 50px;
	/* padding: 14px 40px; */
	padding: 0 20px 0 10px;
	background: #f4f5f9;
	text-align: left;
	border-radius: 18px;
	position: relative;
}

.attrDelbtn {
	background: inherit;
	color: inherit;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(50%);
	margin-right: 5px;
	transition: 0.5s;
}

.attrDelbtn:hover {
	color: red;
}

.add-port-list {
	width: 100%;
	height: 100%;
	color: white;
	background: rgb(10, 10, 10);
	padding: 14px 20px;
	text-align: left;
	transition: 0.5s;
}

.add-port-list:hover {
	background: #03a9f4;
}

.add-attribute {
	width: 100%;
	background: rgb(20, 20, 20);
	padding: 16px 20px;
	color: white;
}

.submit-container {
	display: flex;
	width: 100%;
	text-align: center;
	font-size: 26px;
}

.submit-container button {
	transition: 0.5s;
}

.submit-container button:hover {
	background: #03a9f4;
}

.submit-attr-btn {
	width: 100%;
	background: rgb(30, 30, 30);
	padding: 16px 20px;
	color: white;
}

.edit-img-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.edit-img-contents {
	width: 100%;
}

.edit-input {
	width: 100%;
	padding: 16px 20px;
	font-size: 16px;
}


.edit-list-input {
	/* height: 100%; */
	width: 90%;
	border-radius: 16px;
	font-size: 14px;
	padding: 16px 20px;
	background: #f4f5f9;
}

.edit-table-head {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	background-color: rgba(77,128,153,0.1);
	border-top-width: 1px;
	color: #94979c;
	/* padding: 1.2em 1em; */
}

.edit-table-head .edit-attr {
	background-color: #CCC;
	color: black;
}

.edit-table-head-item {
	margin: 0;
	padding: 16px 20px;
}

.edit-table {
	width: calc(100% - 42px);
	margin: 5px 1px;
}



/* ################################################################################## */
/* ################################################################################## */
/* ################################################################################## */
/* 로그인 스타일 */
/* ################################################################################## */
/* ################################################################################## */
/* ################################################################################## */



.App {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 9999;
}

.App-logo {
	position: static;
	animation: App-logo-spin infinite 20s linear;
	height: 10vmin;
}

.App-header {
	/* background-color: #282c34; */
	/* background-image: url(../public/images/bg.jpg); */
	height: 100%;
	background: rgba(20, 20, 20, 0.3);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	/* color: white; */
}

.App-link {
	color: #61dafb;
}

.Box{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
		box-sizing: border-box;
		box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 25px;
		padding: 40px;
		background: rgba(0, 0, 0, 0.8);
		border-radius: 10px;
}

.Box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.Box .InputBox{
	position: relative;
}
.Box .InputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.Box .InputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.Box .InputBox input:focus ~ label{
	top: -18px;
	font-size: 12px;
	color: #03a9f4;
	left: 0;
}

.Box .InputBox .valid{
	top: -18px;
	font-size: 12px;
	color: #03a9f4;
	left: 0;
}

/* .Box .InputBox input:valid ~ label{
	top: -18px;
	font-size: 12px;
	color: #03a9f4;
	left: 0;
} */

.Box input[type="submit"] {
	color: rgb(255, 255, 255);
	cursor: pointer;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	outline: none;
	background: rgb(3, 169, 244);
	padding: 10px 20px;
	border-radius: 5px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.bg
{
		font-family: sans-serif;
		margin: 0px;
		padding: 0px;
		background-image: url(../public/images/bg.jpg) center center cover no-repeat fixed;
		background-repeat: no-repeat;
}
.box
{
	background: black;
}

/* ################################################################################## */
/* ################################################################################## */
/* ################################################################################## */
/* 게시판 스타일 */
/* ################################################################################## */
/* ################################################################################## */
/* ################################################################################## */

#post-wrap {
	position: relative;
	height: 100vh;
}

.area-menu {
	position: fixed;
	width: 380px;
	height: 100%;
	left: -380px;
	transition: left 0.2s ease-out;
	border-right: 1px solid #eee;
	overflow: auto;
	z-index: 3;
}

.area-menu .menu-on {
	left: 0;
	z-index: 2;
	height: 100%;
}

.menu-navigation {
	position: relative;
	height: 100%;
	padding: 40px 0 0 21px;
	color: #666;
}

ul {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.tt-category {
	padding-left: 0;
}

.area-menu .list-gnb .link-gnb {
	display: block;
	padding: 15px 0 14px 40px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	font-size: 16px;
	text-decoration: none;
}

.list-gnb {
	padding: 0px;
}

#post-header {
	position: fixed;
	z-index: 2;
	border-bottom: 1px solid #eee;
}

.inner-header {
	position: relative;
	background: white;
	width: 100vw;
	max-width: 1600px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.inner-header .post-logo {
	display: flex;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
}

.inner-header .post-link-logo {
	display: block;
	width: 100%;
	height: 80px;
	background-size: auto 80px;
	background-repeat: no-repeat;
	background-position: center;
	color: #666;
	font-weight: normal;
}

.blind {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	width: 1px;
	height: 1px;
}

.inner-header .post-title-text {
	font-size: 26px;
	display: block;
	margin-top: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.inner-header .post-btn-menu {
	font-size: 26px;
}

.inner-header .post-btn-menu,
.inner-header .post-btn-search {
	position: absolute;
	display: block;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background: none;
	line-height: 0;
	color: #000;
	cursor: pointer;
	outline: none;
}


.inner-header .post-btn-menu .post-icon-close {
	display: none;
}

.inner-header .post-btn-search {
	font-size: 28px;
	right: 0px;
}

.post-area-search {
	position: absolute;
	top: 50%;
	width: 238px;
	height: 38px;
	margin-top: -22px;
	padding-left: 10px;
	background: #fff;
	cursor: pointer;
	right: 60px;
}

.post-area-search.thema-apply{
	border: 1px solid #1eb49f;
}

.post-inp-search {
	width: 200px;
	height: 36px;
}

#post-container {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1;
	transition: left 0.2s ease-out;
	left: 0;
}

#post-main {
	display: block;
	margin-top: 160px;
}

.post-inner-index {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
}

.index-type-common {
	clear: both;
}

.index-type-horizontal {
	margin-top: 80px;
	padding: 0 20px;
}

.post-title-category {
	font-size: 28px;
	color: #333;
	text-align: center;
}

.post-list-horizontal {
	padding-left: 0;
}

.list-horizontal-item {
	margin-bottom: 60px;
	height: 200px;
	list-style: none;
}

.article-content {
	clear: both;
}

.index-type-horizontal .thumbnail-post {
	width: 192px;
	height: 192px;
	margin-right: 24px;
	float: left;
	background-size: cover;
	background-position: 50% 50%;
}

.article-content .post-link-title {
	display: block;
	color: #111;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.area-view-content .post-link-title {
	max-height: initial;
	margin: 0;
	font-size: 30px;
}

.index-type-horizontal .post-title-post {
	font-size: 24px;
	line-height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.index-type-horizontal .post-info-post {
	margin-top: 5px;
	padding-bottom: 23px;
}

.post-category {
	color: #888;
	text-decoration: underline;
	margin-right: 5px;
}

.article-content .post-info-post .post-date {
	margin-left: 5px;
	padding-left: 9px;
	color: #888;
	font-size: 14px;
}

.index-type-horizontal .post-txt-post {
	max-height: 90px;
	margin-bottom: 20px;
	line-height: 24px;
	line-clamp: 2;
	font-size: 12px;
	color: #666;
}

.article-content .post-txt-post {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

#post-footer {
	padding: 60px 0 40px 0;
	font-size: 13px;
	font-weight: normal;
	color: #999;
	text-align: center;
}

.category-content-area {
	width: 100%;
	height: auto;
	margin-bottom: 60px;
}

.category-content-area .area-view-content {
	padding: 0;
	margin-top: -40px;
}

.post-link-title .title-view {
	font-size: 30px;
}

.edit-post a, button{
	color: #888;
	cursor: pointer;
	margin: 0 5px;
}

.area-view-content .view-info-post,
.area-view-content .edit-post {
	margin-top: 10px;
	font-size: 12px;
}

.article-content .article-view {
	font-size: 14px;
	line-height: 28px;
}

.posting-wrap {
	margin-bottom: 50px;
}

.posting-btn {
	position: fixed;
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: white;
	bottom: 40px;
	right: 40px;
	text-align: center;
	color: #111;
	box-shadow: 0px 0px 8px 4px rgba(90, 90, 90, 0.3);
	align-items: center;
	justify-content: center;
	font-size: 20px;
	transition: 0.3s;
	z-index: 999;
}

.posting-btn:hover {
	color: #19B3D3;
}

.post-title-ipt {
	width: 100%;
	height: 40px;
	font-size: 30px;
	border-bottom: 1px solid rgba(200, 200, 200, 0.4);
	margin: 10px 0;
	padding-bottom: 20px;
}

.cateSelect {
	display: block;
	width: 100%;
	height: 30px;
	margin: 46px auto 0;
	position: relative;
}

.cateSelect .cs-ipt-btn {
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	cursor: pointer;
}

.cs-btn {
	width: 170px;
	min-width: 27px;
	height: 29px;
	margin: 0 1px 0 0;
	padding: 0 5px;
	border: 0;
	font-size: 0;
	line-height: 0;
	border-radius: 2px;
	border: 1px solid #e9e9e9;
	color: #909090;
	position: relative;
	text-align: center;
	box-sizing: border-box;

	cursor: pointer;
}

.cs-text {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 140px;
	height: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	font-size: 13px;
	line-height: 15px;
	font-style: normal;
}

.cs-icon {
	position: absolute;
	top: 50%;
	right: 9px;
	margin: 0;
	vertical-align: top;
	color: #909090;
	transition: all ease .3s;
}

.cs-list-wrap {
	z-index: 99;
	position: absolute;
	width: auto;
	background-color: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 2px 5px rgba(0,0,0,.1);
	box-sizing: border-box;
	border-radius: 1px;
	margin-top: 10px;
}

.cs-list-container {
	width: 170px;
	max-height: 270px;
	overflow-y: auto;
	padding-top: 10px;
	display: inline-block;
}

.cs-list-container::after {
	content: "";
	display: block;
	position: absolute;
	top: -6px;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-left: -5px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	background-color: #fff;
	transform: rotate(45deg);
}

.cs-list-container .cs-list-attr {
	padding: 6px 12px;
	text-overflow: ellipsis;
    box-sizing: border-box;
    cursor: pointer;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 400;
	color: #909090;
	width: 100%;
	text-align: left;
}

.cs-list-container .cs-list-attr:hover {
	background: #eee;
}

.ck-editor__editable_inline {
	min-height: 500px;
}

.submit-wrap {
	width: 100%;
	height: 40px;
	position: relative;
}

.submit-wrap .post-submit-btn {
	position: absolute;
	right: 0;
	top: 50%;
	width: 100px;
	height: 38px;
	background: #333;
	color: white;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.3s;
}

.submit-wrap .post-submit-btn:hover {
	background: #f55;
}

.post-content-html-source img {
	width: 90%;
}

.header-login-btn-wrap {
	position: absolute;
	bottom: 16px;
	transform: translateY(-50%);
	width: calc(100% - 40px);
	padding-left: 0;
}

.header-login-btn-wrap .header-login-btn {
	font-size: 16px;
	height: 100%;
	width: 100%;
	text-align: left;
	cursor: pointer;
}
